/* Write your CSS here */
.NotFound-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Bree Serif';
  color: #ffffff;
}
